<div class="container">
  <br>
  <!--Lista-->
  <div class="card">
    <div class="card-header">
      Lista de Tareas
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="userList" class="table table-bordered table-hover table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo Electronico</th>
              <th scope="col">Numero</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contacto of contactos | async" >
              <td>{{contacto.nombre}}</td>
              <td>{{contacto.apellido}}</td>
              <td>{{contacto.email}}</td>
              <td>{{contacto.numeroCel}}</td>
              <td>
                <button class="btn btn-primary" >Editar</button>
              </td>
              <td>
                <button class="btn btn-primary" (click)="onDeleteTarea(contacto.id)">eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
